<div class="main-bar">
  <mat-icon class="main-bar_menu-trigger" (click)="sidenav.toggle()" aria-hidden="false" aria-label="menu">menu</mat-icon>
</div>
<mat-sidenav-container class="main-layout" [hasBackdrop]="true">
  <mat-sidenav #sidenav class="main-layout_sidenav" mode="over">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'public'" routerLinkActive="active">Public</a>
      <a mat-list-item [routerLink]="'private'" routerLinkActive="active">Private</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-layout_content">  
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
