<mat-card class="login">
    <mat-card-title>Welcome to ArkusNexus</mat-card-title>
    <mat-card-subtitle>Please login using your credentials</mat-card-subtitle>
    <form class="login-form">
        <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [formControl]="email" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="email.hasError('required')">
            <strong>required</strong>
        </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [formControl]="pass" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="pass.hasError('pass') && !pass.hasError('required')">
            Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="pass.hasError('required')">
                <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </form>
    <mat-card-actions class="login-ctas">    
        <button mat-raised-button color="primary">Login</button>
        <button mat-raised-button color="accent">Sign up</button>
    </mat-card-actions>
</mat-card>
