<mat-card class="login">
    <mat-card-title>Welcome to ArkusNexus</mat-card-title>
    <mat-card-subtitle>Please login using your credentials</mat-card-subtitle>
    <form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" placeholder="Ex. pat@example.com" matInput formControlName="email" >
            <mat-error *ngIf="form.controls.email.hasError('email')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="form.controls.email.hasError('required')">
                This field is required
            </mat-error>
            <mat-error *ngIf="form.controls.email.hasError('userExist')">
                That user email doesn't exist in our database
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-error *ngIf="form.get('password').hasError('required')">
                This field is required
            </mat-error>
            <mat-error *ngIf="loginFailed$ | async">
                Hey thats not your password !
            </mat-error>
        </mat-form-field>
        <mat-card-actions class="login-ctas">    
            <button type="submit" mat-raised-button color="primary" [disabled]="!form.valid">Login</button>
            <button type="button" mat-raised-button color="accent">Sign up</button>
        </mat-card-actions>
    </form>
</mat-card>
